{% extends 'myadmin/base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'myadmin:index' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'properties:building-list' %}">Building List</a></li>
    <li class="breadcrumb-item">{{ building.name }} </li>
</ol>
{% endblock %}



{% block content %}

<div class="row mt-3">
    <div class="container-fluid px-3">
        {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        <h1>{{ building.name }}</h1>
 

    <div class="row mt-2">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Address</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        <h4>{{ building.address }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Building Type</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        <h4>{{ building.building_type }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Building Age</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        <h4>{{ building.building_age }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Building Floors</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        <h4>{{ building.floors }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Rental Apartments</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">
                        <h4>{{ building.rental_apartment_count }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body mt-4 px-3">
        <table id="datatablesSimple" class="table table-striped">
            <thead>
                <tr>
                    <th>Apartment Number</th>
                    <th>Floor</th>
                    <th>Rooms</th>
                    <th>Area</th>
                    <th>Rented</th>
                    <th>Furnished</th>
                    <th>Balcony</th>
                    <th>Elevator</th>
                    <th>Parking</th>
                    <th>Image</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for apartment in building.apartments.all %}
                {% if not apartment.is_deleted %}
                <tr>
                    <td>{{ apartment.number }}</td>
                    <td>{{ apartment.floor }}</td>
                    <td>{{ apartment.rooms }}</td>
                    <td>{{ apartment.area }}</td>
                    <td>{{ apartment.is_rented|yesno:"Yes,No" }}</td>
                    <td>{{ apartment.furnished|yesno:"Yes,No" }}</td>
                    <td>{{ apartment.balcony|yesno:"Yes,No" }}</td>
                    <td>{{ apartment.elevator|yesno:"Yes,No" }}</td>
                    <td>{{ apartment.parking|yesno:"Yes,No" }}</td>
                    <td><img src="{{ apartment.image.url }}" alt="Apartment Image" style="max-height: 100px;"></td>
                    <td>

                        <div class="btn-group">
                            <a href="{% url 'properties:apartment-detail' apartment.pk %}" class="btn btn-primary btn-sm me-2">View Details</a>

                            {% if perms.properties.change_apartment %}
                            <form method="post" action="{% url 'properties:building-detail' building.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="delete_apartment" value="{{ apartment.pk }}">
                                
                                <div class="btn-group">
                                    <a href="{% url 'properties:apartment-update' apartment.pk %}" class="btn btn-success btn-sm me-2">Update</a>
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>

                    </td>
                </tr>
                {% endif %}
                {% empty %}
                <tr>
                    <td colspan="11">No apartments found.</td>
                </tr>
                {% endfor %}
            </tbody>
            
            
            
        </table>

        {% if perms.properties.add_apartment %}
        <div class="mt-5 px-3">
            <a href="{% url 'properties:apartment-create' building.pk %}" class="btn btn-success">Add New Apartment</a>
        </div>
        
        <div class="mt-4 px-3">
            <form method="post" action="{% url 'properties:building-detail' building.pk %}">
                {% csrf_token %}
                <a href="{% url 'properties:building-update' building.pk  %}" class="btn btn-success">Update</a>
                <input type="hidden" name="delete_building" value="true">
                <button type="submit" class="btn btn-danger">Delete Building</button>
            </form>
        </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}



