{% extends 'myadmin/base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'myadmin:index' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'properties:building_list' %}">Building List</a></li>
    <li class="breadcrumb-item">{{ building.name }} </li>
</ol>

{% endblock %}



{% block content %}

<h1>{{ building.name }}</h1>
<div class="row mt-5">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body"> Wallet</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class=""></i>
                <h4>{{ total_income }} ₺</h4></div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Addres</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class=""></i>
                <h4>{{ building.address }}</h4></div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Building Type</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class=""></i>
                <h4>{{ building.building_type }}</h4></div>
            </div>
        </div>
    </div>


 

    <div class="col-xl-2 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Building Number Floors</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class=""></i>
                <h4>{{ building.number_floors }}</h4></div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body"> Rental Apartment Count </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class=""></i>
                <h4>{{ building.rental_apartment_count }}</h4></div>
            </div>
        </div>
    </div>
</div>
    <div class="card-body mt-4">
        <table id="datatablesSimple" class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Tenant</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                {% for property in building.properties.all %}
                <tr>
                    <td>{{ property.title }}</td>
                    <td>{{ property.price }} ₺</td>
                    <td>{{ property.tenant }}</td>
                    <td>
                        <a href="{% url 'properties:property_detail' property.pk %}" class="btn btn-primary btn-sm">View Details</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No properties found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-5">
            <a href="{% url 'properties:property_create_step1' building.id %}" class="btn btn-success">Add New Property</a>
        </div>
    </div>
{% endblock %}


