{% extends 'myadmin/base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'myadmin:index' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'properties:building-list' %}">Building List</a></li>
    <li class="breadcrumb-item active">Update Building</li>
</ol>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary">
            <h2 style="color: white;">Update Building</h2>
        </div>
        <div class="container-fluid px-5 mt-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name" class="form-label">Name</label>
                    {{ form.name }}
                    {% for error in form.name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            
                <div class="mb-3">
                    <label for="id_address" class="form-label">Address</label>
                    {{ form.address }}
                    {% for error in form.address.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            
                <div class="mb-3">
                    <label for="id_building_type" class="form-label">Building Type</label>
                    {{ form.building_type }}
                    {% for error in form.building_type.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            
                <div class="mb-3">
                    <label for="id_floors" class="form-label">Number of Floors</label>
                    {{ form.floors }}
                    {% for error in form.floors.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            
                <div class="mb-3">
                    <label for="id_building_age" class="form-label">Building Age</label>
                    {{ form.building_age }}
                    {% for error in form.building_age.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            
                <button type="submit" class="btn btn-primary">Update Building</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
