{% extends 'myadmin/base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'myadmin:index' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'properties:property_list' %}">Property List</a></li>
    <li class="breadcrumb-item active">Create Property</li>
</ol>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary">
            <h2 style="color: white;">Property</h2>
        </div>
        
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Square Meters -->
                <div class="mb-3">
                    <label for="id_square_meters" class="form-label">Square Meters:</label>
                    <input type="number" class="form-control {% if details_form.square_meters.errors %}is-invalid{% endif %}" id="id_square_meters" name="square_meters" value="{{ details_form.instance.square_meters }}">
                    {% for error in details_form.square_meters.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Room Count -->
                <div class="mb-3">
                    <label for="id_room_count" class="form-label">Room Count:</label>
                    <select class="form-select {% if details_form.room_count.errors %}is-invalid{% endif %}" id="id_room_count" name="room_count">
                        {% for choice in details_form.room_count.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == details_form.instance.room_count %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    {% for error in details_form.room_count.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Floor Count -->
                <div class="mb-3">
                    <label for="id_floor_count" class="form-label">Floor Count:</label>
                    <select class="form-select {% if details_form.floor_count.errors %}is-invalid{% endif %}" id="id_floor_count" name="floor_count">
                        {% for choice in details_form.floor_count.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == details_form.instance.floor_count %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    {% for error in details_form.floor_count.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>


                <!-- Number of Floors -->
                <div class="mb-3">
                    <label for="id_number_floors" class="form-label">Number of Floors:</label>
                    <input type="number" class="form-control {% if details_form.number_floors.errors %}is-invalid{% endif %}" id="id_number_floors" name="number_floors" value="{{ details_form.instance.number_floors }}">
                    {% for error in details_form.number_floors.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Furnished -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="id_furnished" name="furnished" {% if details_form.instance.furnished %}checked{% endif %}>
                    <label class="form-check-label" for="id_furnished">Furnished</label>
                </div>

                <!-- Balcony -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="id_balcony" name="balcony" {% if details_form.instance.balcony %}checked{% endif %}>
                    <label class="form-check-label" for="id_balcony">Balcony</label>
                </div>

                <!-- Elevator -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="id_elevator" name="elevator" {% if details_form.instance.elevator %}checked{% endif %}>
                    <label class="form-check-label" for="id_elevator">Elevator</label>
                </div>

                <!-- Parking -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="id_parking" name="parking" {% if details_form.instance.parking %}checked{% endif %}>
                    <label class="form-check-label" for="id_parking">Parking</label>
                </div>

                <!-- Image -->
                <div class="mb-3">
                    <label for="id_image" class="form-label">Image:</label>
                    <input type="file" class="form-control {% if image_form.image.errors %}is-invalid{% endif %}" id="id_image" name="image">
                    {% for error in image_form.image.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <button type="submit" name="submit" class="btn btn-primary">{% if details_form.instance.pk %}Update{% else %}Create{% endif %} Property</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
