{% extends 'myadmin/base.html' %}

{% block content %}
  <h2>Mülkü Güncelle - Adım 2</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ details_form.as_p }}

    <h2>Görseller</h2>
    <input type="file" name="image" accept="image/*" multiple>

    <h2>Amenities</h2>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="id_furnished" name="furnished">
        <label class="form-check-label" for="id_furnished">Furnished</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="id_balcony" name="balcony">
        <label class="form-check-label" for="id_balcony">Balcony</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="id_elevator" name="elevator">
        <label class="form-check-label" for="id_elevator">Elevator</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="id_parking" name="parking">
        <label class="form-check-label" for="id_parking">Parking</label>
    </div>
    
    <button type="submit" name="submit" class="btn btn-primary">Güncelle</button>
  </form>
{% endblock %}
