{% extends 'myadmin/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        {% if messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <ul class="mb-0">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="card bg-warning text-white mb-4 d-flex justify-content-center align-items-center" style="height: 300px;">
                    <div class="card-body text-center">
                        <h1 class="card-title">Profile</h1>
                        <p class="card-text">Manage your profile settings.</p>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'myadmin:myadmin_update' %}">View Profile</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="card bg-success text-white mb-4 d-flex justify-content-center align-items-center" style="height: 300px;">
                    <div class="card-body text-center">
                        <h1 class="card-title">Building List</h1>
                        <p class="card-text">Manage your building listings.</p>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'properties:building-list' %}">View</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-6 col-md-6">
                <div class="card bg-primary text-white mb-4 d-flex justify-content-center align-items-center" style="height: 300px;">
                    <div class="card-body text-center">
                        <h1 class="card-title">Contracts List</h1>
                        <p class="card-text">Manage your contract listings.</p>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'contract:contract-list' %}">View</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-6 col-md-6">
                <div class="card bg-danger text-white mb-4 d-flex justify-content-center align-items-center" style="height: 300px;">
                    <div class="card-body text-center">
                        <h1 class="card-title">Tenants List</h1>
                        <p class="card-text">Manage your profile settings.</p>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'myadmin:tenant_list' %}">View Profile</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
