{% extends 'myadmin/base.html' %}
{% load static %}

{% block breadcrumb %}
<ol class="breadcrumb mb-4 ">
    <li class="breadcrumb-item"><a href="{% url 'myadmin:index' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'myadmin:myadmin_update' %}">Profile</a></li>
    <li class="breadcrumb-item active">Change Password</li>
</ol>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary">
            <h2 style="color: white;">Şifre Yenileme</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input class="form-control" id="id_old_password" name="old_password" type="password" placeholder="Mevcut Şifre" required />
                    <label for="id_old_password">Mevcut Şifre</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="id_new_password1" name="new_password1" type="password" placeholder="Yeni Şifre" required />
                    <label for="id_new_password1">Yeni Şifre</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="id_new_password2" name="new_password2" type="password" placeholder="Yeni Şifre Tekrar" required />
                    <label for="id_new_password2">Yeni Şifre Tekrar</label>
                </div>
                <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
