{% extends 'users/index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <p>{{ product.description }}</p>
        <p>Fiyat: ${{ product.price }}</p>
        <p>Özellikler:</p>
        <ul>
            {% for feature_value in product.feature_values.all %}
                <li>{{ feature_value.feature.name }}: {{ feature_value.value }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
