{% extends 'users/index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="text-center mt-5 mb-4">
        <h2 style="background-color: rgba(255, 255, 255, 0.783); font-size: 50px; color: #333;">Ürünler</h2>
    </div>
    <div class="row mt-5">
        {% for product in products %}
        <div class="col-lg-4 col-sm-4">
            <div class="box_main">
                <h4 class="shirt_text">{{ product.name }}</h4>
                <div class="tshirt_img"><img src="{{ product.image.url }}" alt="{{ product.name }}"></div>
                <div class="text-center mt-3 mb-3">
                    <p class="price_text" style="font-size: 18px;">Fiyat: <span style="color: #262626;">{{ product.price }}₺</span></p>
                </div>
                <div class="btn_main d-flex justify-content-between">
                    <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary">Ürün Detayı</a>
                    <form action="{% url 'products:add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Sepete Ekle</button>
                    </form>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

