{% extends 'users/index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="text-center mt-4 mb-4">
        <h2 style="background-color: white; font-size: 36px; color: #333;"> Sepetim</h2>
    </div>
    <div class="row mt-5">
        {% if order_items %}
            {% for order_item in order_items %}
            <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                    <h4 class="shirt_text">{{ order_item.product.name }}</h4>
                    <div class="tshirt_img"><img src="{{ order_item.product.image.url }}" alt="{{ order_item.product.name }}"></div>
                    <div class="text-center mt-3 mb-3">
                        <p class="price_text" style="font-size: 18px;">Fiyat: <span style="color: #262626;">{{ order_item.price }}₺</span></p>
                        <p class="quantity_text">Adet: {{ order_item.quantity }}</p>
                        <form method="post" action="{% url 'products:remove_from_cart' order_item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Sepetten Çıkar</button>
                        </form>
                        <form method="post" action="{% url 'products:increase_quantity' order_item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">Adeti Artır</button>
                        </form>
                    </div>
                    <div class="btn_main">
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="col-lg-12 text-center">
            <p>Sepetinizde ürün bulunmamaktadır.</p>
        </div>
        {% endif %}
    </div>
    <div class="text-center mt-5">
        <p>Toplam Fiyat: {{ total_price }}₺</p>
        <form method="post" action="{% url 'products:checkout' %}">
            {% csrf_token %}
            <button type="submit" name="place_order" class="btn btn-primary">Satın Al</button>
        </form>
    </div>
</div>
{% endblock %}
