{% extends 'users/index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Sipariş Detayları </h2>
    <hr>
    <p><strong>Tarih:</strong> {{ order.order_date|date:"d/m/Y H:i:s" }}</p>
    <p><strong>Durum:</strong> {{ order.shipping_status }}</p>
    <p><strong>Toplam Tutar:</strong> {{ order.total_price }}₺</p>
    <ul>
        {% for item in order.order_items.all %}
        <li>{{ item.product.name }} - {{ item.quantity }} adet - Toplam Fiyat: {{ item.get_total_price }}₺</li>
        {% endfor %}
    </ul>
    <a href="{% url 'orders:order_history' %}" class="btn btn-primary mt-3">Geri Dön</a>
</div>
{% endblock %}
