{% extends 'users/index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mb-4 mt-5">Sipariş Geçmişi</h1>

    <div class="row mt-5">
        <div class="col">
            {% if orders %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sipariş Tarihi</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Toplam Tutar</th>
                                <th scope="col">Detay</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr style="background-color: aliceblue;">
                                <td>{{ order.order_date }}</td>
                                <td>{{ order.shipping_status }}</td>
                                <td>{{ order.total_price }}₺</td>
                                <td><a href="{% url 'orders:order_detail' order_id=order.id %}" class="btn btn-sm btn-primary">Detay</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Sipariş geçmişiniz bulunmamaktadır.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="mt-4">Sipariş geçmişiniz bulunmamaktadır.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
